@page "/weather"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net
@inject IHttpClientFactory HttpClientFactory
@inject IAccessTokenProvider AccessTokenProvider

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>


    <p><em>Loading...</em></p>

{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            

    
            
        </tbody>
    </table>
}

@code {
    //private WeatherForecast[]? forecasts;
    private string errorMessage = "";
    private string displayedToken = "";

    protected override async Task OnInitializedAsync()
    {
        var tokenResult = await AccessTokenProvider.RequestAccessToken();

        if (tokenResult.TryGetToken(out var token))
        {

            var httpClient = HttpClientFactory.CreateClient("ServerAPI");
            try
            {
                //forecasts = await httpClient.GetFromJsonAsync<WeatherForecast[]>("weatherforecast");
            }
            catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.Unauthorized)
            {
                errorMessage = "Unauthorized access. Please log in.";
            }
        }
        else
        {
            errorMessage = "Token not available. Please log in.";
        }
    }
}
